{% extends 'store/main.html' %}
{% load static %}
{% block title %}Store{% endblock %}
{% block content %}
<div class="row m-1">
    {% for product in pdct %}
    <div class="col-md-3">
        <img class="thumbnail p-1" src="{{ product.imageURL }}">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary btn-sm add-btn update-cart" data-product="{{ product.id }}" data-action="add">Add to Cart</button>
            <a class="btn btn-outline-success btn-sm" href="#">View</a>
            <span style="display: inline; float: right;font-size:14px;"><strong>₹{{ product.price|floatformat:2 }}</strong></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
